<tr>
    <td class="one-column footer">
        <div class="column">
            <table class="inner" width="100%" cellpadding="20">
                <tr>
                    <td class="cell">
                        <center>
                            <table align="center" cellpadding="5">
                                <tr>
                                    <td>
                                        <a href="http://vk.com/tehnosila" target="_blank"><img src="images/s-vk.png" width="30" height="30"></a>
                                    </td>
                                    <td>
                                        <a href="http://www.facebook.com/Tehnosila" target="_blank"><img src="images/s-fb.png" width="30" height="30"></a>
                                    </td>
                                    <td>
                                        <a href="http://ok.ru/tehnosila" target="_blank"><img src="images/s-ok.png" width="30" height="30"></a>
                                    </td>
                                    <td>
                                        <a href="http://instagram.com/tehnosila_ru" target="_blank"><img src="images/s-in.png" width="30" height="30"></a>
                                    </td>
                                    <td>
                                        <a href="http://www.youtube.com/user/RuTehnosila" target="_blank"><img src="images/s-yt.png" width="30" height="30"></a>
                                    </td>
                                </tr>
                            </table>
                        </center>
                        <br>
                        <div class="paragraph">
                            Вы получили это письмо, потому что подписались на рассылку на сайте <a href="http://tehnosila.ru" target="_blank"><span>tehnosila.ru</span></a>. Чтобы отказаться от получения наших писем, перейдите по <a href="*[link_unsubscribe]*"><span>этой ссылке</span></a>.
                        </div>
                        <div class="paragraph">Техносила © 2016 Не является офертой. Предложение ограничено и действует пока товар есть в&nbsp;наличии. Цены действительны на момент отправки письма и могут измениться. Окончательная цена формируется в&nbsp;момент совершения заказа. Все цены указаны в рублях.</div>
                    </td>
                </tr>
            </table>
        </div>
    </td>
</tr>
