<tr>
    <td class="one-column header row">
        <div class="column">
            <table class="inner" width="100%" cellpadding="20">
                <tr>
                    <td class="cell">
                        <a href="http://tehnosila.ru" target="_blank"><img width="215" height="45" src="images/logo.png"></a>
                    </td>
                </tr>
            </table>
        </div>
    </td>
</tr>
