<tr>
    <td class="goods row">
        <table class="inner" width="100%" cellpadding="20">
            <tr>
                <td valign="top" width="50%" class="item-cell" style="border-right:#efede7 1px solid;">
                    <table class="contents" width="100%" cellpadding="0">
                        <tr>
                            <td>
                                <a href="http://www.tehnosila.ru/catalog/instrumenty_santehnika_sad/sanfayans/unitazy/-/220272" target="_blank"><img class="itemPicture" src="images/7.jpg" width="260"></a>
                            </td>
                        </tr>
                        <tr>
                            <td valign="bottom" class="itemPrice-cell">
                                <div class="itemPrice">
                                    <span class="oldPrice">Было: 12&nbsp;187&nbsp;<span class="itemCurrency">Р.</span></span>
                                    <span class="newPrice">9&nbsp;749&nbsp;<span class="itemCurrency">Р.</span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="itemName-cell">
                                <div class="itemName"><a href="http://www.tehnosila.ru/catalog/instrumenty_santehnika_sad/sanfayans/unitazy/-/220272" target="_blank">Унитаз Vidima Сева Фреш E408861 белый</b></a></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="button-cell">
                                <table class="button" width="120">
                                    <tr>
                                        <td class="button-inner" width="120">
                                            <a class="button-link" href="http://www.tehnosila.ru/catalog/instrumenty_santehnika_sad/sanfayans/unitazy/-/220272" target="_blank">
                                                Купить
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
                <td valign="top" width="50%" class="item-cell" style="border-left:#efede7 1px solid;">
                    <table class="contents" width="100%" cellpadding="0">
                        <tr>
                            <td>
                                <a href="http://www.tehnosila.ru/catalog/instrumenty_santehnika_sad/santehnika/smesiteli_i_termostaty/-/212640" target="_blank"><img class="itemPicture" src="images/8.jpg" width="260"></a>
                            </td>
                        </tr>
                        <tr>
                            <td valign="bottom" class="itemPrice-cell">
                                <div class="itemPrice">
                                    <span class="oldPrice">Было: 7&nbsp;737&nbsp;<span class="itemCurrency">Р.</span></span>
                                    <span class="newPrice">4&nbsp;490&nbsp;<span class="itemCurrency">Р.</span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="itemName-cell">
                                <div class="itemName"><a href="http://www.tehnosila.ru/catalog/instrumenty_santehnika_sad/santehnika/smesiteli_i_termostaty/-/212640" target="_blank">Смеситель универсальный SmartSant Смарт-Шот SM193502AA_R хром</b></a></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="button-cell">
                                <table class="button" width="120">
                                    <tr>
                                        <td class="button-inner" width="120">
                                            <a class="button-link" href="http://www.tehnosila.ru/catalog/instrumenty_santehnika_sad/santehnika/smesiteli_i_termostaty/-/212640" target="_blank">
                                                Купить
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td class="goods row">
        <table class="inner" width="100%" cellpadding="20">
            <tr>
                <td valign="top" width="50%" class="item-cell" style="border-right:#efede7 1px solid;">
                    <table class="contents" width="100%" cellpadding="0">
                        <tr>
                            <td>
                                <a href="http://www.tehnosila.ru/catalog/tovary_dlja_sporta/velosipedy_i_aksessuary/velosipedy/-/289592" target="_blank"><img class="itemPicture" src="images/9.jpg" width="260"></a>
                            </td>
                        </tr>
                        <tr>
                            <td valign="bottom" class="itemPrice-cell">
                                <div class="itemPrice">
                                    <span class="oldPrice">Было: 19&nbsp;390&nbsp;<span class="itemCurrency">Р.</span></span>
                                    <span class="newPrice">15&nbsp;499&nbsp;<span class="itemCurrency">Р.</span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="itemName-cell">
                                <div class="itemName"><a href="http://www.tehnosila.ru/catalog/tovary_dlja_sporta/velosipedy_i_aksessuary/velosipedy/-/289592" target="_blank">Велосипед FORWARD Next 1.0 26 (2016) 19 черный (RBKW6M66Q054)</b></a></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="button-cell">
                                <table class="button" width="120">
                                    <tr>
                                        <td class="button-inner" width="120">
                                            <a class="button-link" href="http://www.tehnosila.ru/catalog/tovary_dlja_sporta/velosipedy_i_aksessuary/velosipedy/-/289592" target="_blank">
                                                Купить
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
                <td valign="top" width="50%" class="item-cell" style="border-left:#efede7 1px solid;">
                    <table class="contents" width="100%" cellpadding="0">
                        <tr>
                            <td>
                                <a href="http://www.tehnosila.ru/catalog/tovary_dlja_sporta/trenazhery/multistantsii/-/188447" target="_blank"><img class="itemPicture" src="images/10.jpg" width="260"></a>
                            </td>
                        </tr>
                        <tr>
                            <td valign="bottom" class="itemPrice-cell">
                                <div class="itemPrice">
                                    <span class="oldPrice">Было: 28&nbsp;620&nbsp;<span class="itemCurrency">Р.</span></span>
                                    <span class="newPrice">19&nbsp;499&nbsp;<span class="itemCurrency">Р.</span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="itemName-cell">
                                <div class="itemName"><a href="http://www.tehnosila.ru/catalog/tovary_dlja_sporta/trenazhery/multistantsii/-/188447" target="_blank">Мультистанция Sport Elite SE-4300</b></a></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="button-cell">
                                <table class="button" width="120">
                                    <tr>
                                        <td class="button-inner" width="120">
                                            <a class="button-link" href="http://www.tehnosila.ru/catalog/tovary_dlja_sporta/trenazhery/multistantsii/-/188447" target="_blank">
                                                Купить
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td class="goods row">
        <table class="inner" width="100%" cellpadding="20">
            <tr>
                <td valign="top" width="50%" class="item-cell" style="border-right:#efede7 1px solid;">
                    <table class="contents" width="100%" cellpadding="0">
                        <tr>
                            <td>
                                <a href="http://www.tehnosila.ru/catalog/tovary_dlya_doma/posuda_i_servirovka/servirovka_stola/kruzhki/-/252807" target="_blank"><img class="itemPicture" src="images/11.jpg" width="260"></a>
                            </td>
                        </tr>
                        <tr>
                            <td valign="bottom" class="itemPrice-cell">
                                <div class="itemPrice">
                                    <span class="oldPrice">Было: 769&nbsp;<span class="itemCurrency">Р.</span></span>
                                    <span class="newPrice">615&nbsp;<span class="itemCurrency">Р.</span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="itemName-cell">
                                <div class="itemName"><a href="http://www.tehnosila.ru/catalog/tovary_dlya_doma/posuda_i_servirovka/servirovka_stola/kruzhki/-/252807" target="_blank">Кружка Gipfel Glacier-Toulouse (7181) 2 шт., 200 мл сталь</b></a></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="button-cell">
                                <table class="button" width="120">
                                    <tr>
                                        <td class="button-inner" width="120">
                                            <a class="button-link" href="http://www.tehnosila.ru/catalog/tovary_dlya_doma/posuda_i_servirovka/servirovka_stola/kruzhki/-/252807" target="_blank">
                                                Купить
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
                <td valign="top" width="50%" class="item-cell" style="border-left:#efede7 1px solid;">
                    <table class="contents" width="100%" cellpadding="0">
                        <tr>
                            <td>
                                <a href="http://www.tehnosila.ru/catalog/tovary_dlya_doma/hoztovary/sushki_dlja_belja/-/10958" target="_blank"><img class="itemPicture" src="images/12.jpg" width="260"></a>
                            </td>
                        </tr>
                        <tr>
                            <td valign="bottom" class="itemPrice-cell">
                                <div class="itemPrice">
                                    <span class="oldPrice">Было: 1&nbsp;290&nbsp;<span class="itemCurrency">Р.</span></span>
                                    <span class="newPrice">1&nbsp;032&nbsp;<span class="itemCurrency">Р.</span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="itemName-cell">
                                <div class="itemName"><a href="http://www.tehnosila.ru/catalog/tovary_dlya_doma/hoztovary/sushki_dlja_belja/-/10958" target="_blank">Сушка для белья Ника 20м</b></a></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="button-cell">
                                <table class="button" width="120">
                                    <tr>
                                        <td class="button-inner" width="120">
                                            <a class="button-link" href="http://www.tehnosila.ru/catalog/tovary_dlya_doma/hoztovary/sushki_dlja_belja/-/10958" target="_blank">
                                                Купить
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td class="goods row">
        <table class="inner" width="100%" cellpadding="20">
            <tr>
                <td valign="top" width="50%" class="item-cell" style="border-right:#efede7 1px solid;">
                    <table class="contents" width="100%" cellpadding="0">
                        <tr>
                            <td>
                                <a href="http://www.tehnosila.ru/catalog/tovary_dlya_doma/osveshchenie/nastolnye_lampy/-/12734" target="_blank"><img class="itemPicture" src="images/13.jpg" width="260"></a>
                            </td>
                        </tr>
                        <tr>
                            <td valign="bottom" class="itemPrice-cell">
                                <div class="itemPrice">
                                    <span class="oldPrice">Было: 1&nbsp;190&nbsp;<span class="itemCurrency">Р.</span></span>
                                    <span class="newPrice">952&nbsp;<span class="itemCurrency">Р.</span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="itemName-cell">
                                <div class="itemName"><a href="http://www.tehnosila.ru/catalog/tovary_dlya_doma/osveshchenie/nastolnye_lampy/-/12734" target="_blank">Настольная лампа Camelion KD-312 серебро</b></a></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="button-cell">
                                <table class="button" width="120">
                                    <tr>
                                        <td class="button-inner" width="120">
                                            <a class="button-link" href="http://www.tehnosila.ru/catalog/tovary_dlya_doma/osveshchenie/nastolnye_lampy/-/12734" target="_blank">
                                                Купить
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
                <td valign="top" width="50%" class="item-cell" style="border-left:#efede7 1px solid;">
                    <table class="contents" width="100%" cellpadding="0">
                        <tr>
                            <td>
                                <a href="http://www.tehnosila.ru/catalog/tovary_dlya_doma/posuda_i_servirovka/kuhonnye_prinadlezhnosti/kuhonnye_aksessuary/-/150818" target="_blank"><img class="itemPicture" src="images/14.jpg" width="260"></a>
                            </td>
                        </tr>
                        <tr>
                            <td valign="bottom" class="itemPrice-cell">
                                <div class="itemPrice">
                                    <span class="oldPrice">Было: 1&nbsp;540&nbsp;<span class="itemCurrency">Р.</span></span>
                                    <span class="newPrice">1&nbsp;232&nbsp;<span class="itemCurrency">Р.</span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="itemName-cell">
                                <div class="itemName"><a href="http://www.tehnosila.ru/catalog/tovary_dlya_doma/posuda_i_servirovka/kuhonnye_prinadlezhnosti/kuhonnye_aksessuary/-/150818" target="_blank">Кухонный набор Nadoba FLAVA (721623) 7 предметов </b></a></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="button-cell">
                                <table class="button" width="120">
                                    <tr>
                                        <td class="button-inner" width="120">
                                            <a class="button-link" href="http://www.tehnosila.ru/catalog/tovary_dlya_doma/posuda_i_servirovka/kuhonnye_prinadlezhnosti/kuhonnye_aksessuary/-/150818" target="_blank">
                                                Купить
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>