<tr>
    <td class="goods row">
        <table class="inner" width="100%" cellpadding="20">
            <tr>
                <td valign="top" width="50%" class="item-cell" style="border-right:#efede7 1px solid;">
                    <table class="contents" width="100%" cellpadding="0">
                        <tr>
                            <td>
                                <a href="http://www.tehnosila.ru/catalog/tovary_dlya_doma/posuda_i_servirovka/posuda_dlya_prigotovleniya/skovorody_soteyniki/-/282008" target="_blank"><img class="itemPicture" src="images/15.jpg" width="260"></a>
                            </td>
                        </tr>
                        <tr>
                            <td valign="bottom" class="itemPrice-cell">
                                <div class="itemPrice">
                                    <span class="oldPrice">Было: 1&nbsp;490&nbsp;<span class="itemCurrency">Р.</span></span>
                                    <span class="newPrice">1&nbsp;192&nbsp;<span class="itemCurrency">Р.</span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="itemName-cell">
                                <div class="itemName"><a href="http://www.tehnosila.ru/catalog/tovary_dlya_doma/posuda_i_servirovka/posuda_dlya_prigotovleniya/skovorody_soteyniki/-/282008" target="_blank">Сковорода-гриль Supra Katai 28см (SAD-K2828G) мраморный</b></a></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="button-cell">
                                <table class="button" width="120">
                                    <tr>
                                        <td class="button-inner" width="120">
                                            <a class="button-link" href="http://www.tehnosila.ru/catalog/tovary_dlya_doma/posuda_i_servirovka/posuda_dlya_prigotovleniya/skovorody_soteyniki/-/282008" target="_blank">
                                                Купить
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
                <td valign="top" width="50%" class="item-cell" style="border-left:#efede7 1px solid;">
                    <table class="contents" width="100%" cellpadding="0">
                        <tr>
                            <td>
                                <a href="http://www.tehnosila.ru/catalog/tovary_dlya_doma/bytovaya_himiya/sredstva_dlya_stirki/-/27338" target="_blank"><img class="itemPicture" src="images/16.jpg" width="260"></a>
                            </td>
                        </tr>
                        <tr>
                            <td valign="bottom" class="itemPrice-cell">
                                <div class="itemPrice">
                                    <span class="oldPrice">Было: 499&nbsp;<span class="itemCurrency">Р.</span></span>
                                    <span class="newPrice">399&nbsp;<span class="itemCurrency">Р.</span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="itemName-cell">
                                <div class="itemName"><a href="http://www.tehnosila.ru/catalog/tovary_dlya_doma/bytovaya_himiya/sredstva_dlya_stirki/-/27338" target="_blank">Гель TOP HOUSE Color Ultra 1,5л (241986)</b></a></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="button-cell">
                                <table class="button" width="120">
                                    <tr>
                                        <td class="button-inner" width="120">
                                            <a class="button-link" href="http://www.tehnosila.ru/catalog/tovary_dlya_doma/bytovaya_himiya/sredstva_dlya_stirki/-/27338" target="_blank">
                                                Купить
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td class="goods row">
        <table class="inner" width="100%" cellpadding="20">
            <tr>
                <td valign="top" width="50%" class="item-cell" style="border-right:#efede7 1px solid;">
                    <table class="contents" width="100%" cellpadding="0">
                        <tr>
                            <td>
                                <a href="http://www.tehnosila.ru/catalog/vstraivaemaja_tehnika/vytyajki/-/57046" target="_blank"><img class="itemPicture" src="images/17.jpg" width="260"></a>
                            </td>
                        </tr>
                        <tr>
                            <td valign="bottom" class="itemPrice-cell">
                                <div class="itemPrice">
                                    <span class="newPrice">5&nbsp;990&nbsp;<span class="itemCurrency">Р.</span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="itemName-cell">
                                <div class="itemName"><a href="http://www.tehnosila.ru/catalog/vstraivaemaja_tehnika/vytyajki/-/57046" target="_blank">Вытяжка LEX Mini 600 black</b></a></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="button-cell">
                                <table class="button" width="120">
                                    <tr>
                                        <td class="button-inner" width="120">
                                            <a class="button-link" href="http://www.tehnosila.ru/catalog/vstraivaemaja_tehnika/vytyajki/-/57046" target="_blank">
                                                Купить
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
                <td valign="top" width="50%" class="item-cell" style="border-left:#efede7 1px solid;">
                    <table class="contents" width="100%" cellpadding="0">
                        <tr>
                            <td>
                                <a href="http://www.tehnosila.ru/catalog/kompjutery_i_orgtehnika/portativ_pc/noutbuki/-/249735" target="_blank"><img class="itemPicture" src="images/18.jpg" width="260"></a>
                            </td>
                        </tr>
                        <tr>
                            <td valign="bottom" class="itemPrice-cell">
                                <div class="itemPrice">
                                    <span class="newPrice">143&nbsp;999&nbsp;<span class="itemCurrency">Р.</span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="itemName-cell">
                                <div class="itemName"><a href="http://www.tehnosila.ru/catalog/kompjutery_i_orgtehnika/portativ_pc/noutbuki/-/249735" target="_blank">Ноутбук Apple MacBook Pro (MJLQ2RU/A) серебристый</b></a></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="button-cell">
                                <table class="button" width="120">
                                    <tr>
                                        <td class="button-inner" width="120">
                                            <a class="button-link" href="http://www.tehnosila.ru/catalog/kompjutery_i_orgtehnika/portativ_pc/noutbuki/-/249735" target="_blank">
                                                Купить
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td class="goods row">
        <table class="inner" width="100%" cellpadding="20">
            <tr>
                <td valign="top" width="50%" class="item-cell" style="border-right:#efede7 1px solid;">
                    <table class="contents" width="100%" cellpadding="0">
                        <tr>
                            <td>
                                <a href="http://www.tehnosila.ru/catalog/kompjutery_i_orgtehnika/portativ_pc/noutbuki/-/419334" target="_blank"><img class="itemPicture" src="images/19.jpg" width="260"></a>
                            </td>
                        </tr>
                        <tr>
                            <td valign="bottom" class="itemPrice-cell">
                                <div class="itemPrice">
                                    <span class="newPrice">42&nbsp;999&nbsp;<span class="itemCurrency">Р.</span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="itemName-cell">
                                <div class="itemName"><a href="http://www.tehnosila.ru/catalog/kompjutery_i_orgtehnika/portativ_pc/noutbuki/-/419334" target="_blank">Ноутбук ASUS X540LJ-XX187T (90NB0B11-M03910) черный</b></a></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="button-cell">
                                <table class="button" width="120">
                                    <tr>
                                        <td class="button-inner" width="120">
                                            <a class="button-link" href="http://www.tehnosila.ru/catalog/kompjutery_i_orgtehnika/portativ_pc/noutbuki/-/419334" target="_blank">
                                                Купить
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
                <td valign="top" width="50%" class="item-cell" style="border-left:#efede7 1px solid;">
                    <table class="contents" width="100%" cellpadding="0">
                        <tr>
                            <td>
                                <a href="http://www.tehnosila.ru/catalog/tv_i_video/televizory/3d_televizor/-/95537" target="_blank"><img class="itemPicture" src="images/20.jpg" width="260"></a>
                            </td>
                        </tr>
                        <tr>
                            <td valign="bottom" class="itemPrice-cell">
                                <div class="itemPrice">
                                    <span class="newPrice">108&nbsp;740&nbsp;<span class="itemCurrency">Р.</span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="itemName-cell">
                                <div class="itemName"><a href="http://www.tehnosila.ru/catalog/tv_i_video/televizory/3d_televizor/-/95537" target="_blank">3D Ultra HD LED телевизор Samsung UE-55JU7000U Smart 3D UHD LED</b></a></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="button-cell">
                                <table class="button" width="120">
                                    <tr>
                                        <td class="button-inner" width="120">
                                            <a class="button-link" href="http://www.tehnosila.ru/catalog/tv_i_video/televizory/3d_televizor/-/95537" target="_blank">
                                                Купить
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td class="goods row">
        <table class="inner" width="100%" cellpadding="20">
            <tr>
                <td valign="top" width="50%" class="item-cell" style="border-right:#efede7 1px solid;">
                    <table class="contents" width="100%" cellpadding="0">
                        <tr>
                            <td>
                                <a href="http://www.tehnosila.ru/catalog/tv_i_video/televizory/televizory/-/26524" target="_blank"><img class="itemPicture" src="images/21.jpg" width="260"></a>
                            </td>
                        </tr>
                        <tr>
                            <td valign="bottom" class="itemPrice-cell">
                                <div class="itemPrice">
                                    <span class="newPrice">12&nbsp;999&nbsp;<span class="itemCurrency">Р.</span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="itemName-cell">
                                <div class="itemName"><a href="http://www.tehnosila.ru/catalog/tv_i_video/televizory/televizory/-/26524" target="_blank">LED Телевизор Shivaki STV-24LEDGR9</b></a></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="button-cell">
                                <table class="button" width="120">
                                    <tr>
                                        <td class="button-inner" width="120">
                                            <a class="button-link" href="http://www.tehnosila.ru/catalog/tv_i_video/televizory/televizory/-/26524" target="_blank">
                                                Купить
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
                <td valign="top" width="50%" class="item-cell" style="border-left:#efede7 1px solid;">
                    <table class="contents" width="100%" cellpadding="0">
                        <tr>
                            <td>
                                <a href="http://www.tehnosila.ru/catalog/mobilnaja_svjaz/iPhone/-/193505" target="_blank"><img class="itemPicture" src="images/22.jpg" width="260"></a>
                            </td>
                        </tr>
                        <tr>
                            <td valign="bottom" class="itemPrice-cell">
                                <div class="itemPrice">
                                    <span class="newPrice">47&nbsp;999&nbsp;<span class="itemCurrency">Р.</span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="itemName-cell">
                                <div class="itemName"><a href="http://www.tehnosila.ru/catalog/mobilnaja_svjaz/iPhone/-/193505" target="_blank">Смартфон Apple iPhone 6S 16Gb (MKQJ2RU/A) space gray</b></a></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="button-cell">
                                <table class="button" width="120">
                                    <tr>
                                        <td class="button-inner" width="120">
                                            <a class="button-link" href="http://www.tehnosila.ru/catalog/mobilnaja_svjaz/iPhone/-/193505" target="_blank">
                                                Купить
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td class="goods row">
        <table class="inner" width="100%" cellpadding="20">
            <tr>
                <td valign="top" width="50%" class="item-cell" style="border-right:#efede7 1px solid;">
                    <table class="contents" width="100%" cellpadding="0">
                        <tr>
                            <td>
                                <a href="http://www.tehnosila.ru/catalog/tehnika_dlya_kuhni/prigotovlenie_pishchi/mini_pechi_grili/jelektrogrili/-/339610" target="_blank"><img class="itemPicture" src="images/23.jpg" width="260"></a>
                            </td>
                        </tr>
                        <tr>
                            <td valign="bottom" class="itemPrice-cell">
                                <div class="itemPrice">
                                    <span class="newPrice">29&nbsp;900&nbsp;<span class="itemCurrency">Р.</span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="itemName-cell">
                                <div class="itemName"><a href="http://www.tehnosila.ru/catalog/tehnika_dlya_kuhni/prigotovlenie_pishchi/mini_pechi_grili/jelektrogrili/-/339610" target="_blank">Электрогриль Weber Q 1400 (52160079) бордовый</b></a></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="button-cell">
                                <table class="button" width="120">
                                    <tr>
                                        <td class="button-inner" width="120">
                                            <a class="button-link" href="http://www.tehnosila.ru/catalog/tehnika_dlya_kuhni/prigotovlenie_pishchi/mini_pechi_grili/jelektrogrili/-/339610" target="_blank">
                                                Купить
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
                <td valign="top" width="50%" class="item-cell" style="border-left:#efede7 1px solid;">
                    <table class="contents" width="100%" cellpadding="0">
                        <tr>
                            <td>
                                <a href="http://www.tehnosila.ru/catalog/tehnika_dlya_kuhni/prigotovlenie_pishchi/sokovyzhimalki/-/368870" target="_blank"><img class="itemPicture" src="images/24.jpg" width="260"></a>
                            </td>
                        </tr>
                        <tr>
                            <td valign="bottom" class="itemPrice-cell">
                                <div class="itemPrice">
                                    <span class="newPrice">9&nbsp;999&nbsp;<span class="itemCurrency">Р.</span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="itemName-cell">
                                <div class="itemName"><a href="http://www.tehnosila.ru/catalog/tehnika_dlya_kuhni/prigotovlenie_pishchi/sokovyzhimalki/-/368870" target="_blank">Соковыжималка Hotpoint-Ariston SJ 4010 FXB0 нержавеющая сталь</b></a></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="button-cell">
                                <table class="button" width="120">
                                    <tr>
                                        <td class="button-inner" width="120">
                                            <a class="button-link" href="http://www.tehnosila.ru/catalog/tehnika_dlya_kuhni/prigotovlenie_pishchi/sokovyzhimalki/-/368870" target="_blank">
                                                Купить
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td class="goods row">
        <table class="inner" width="100%" cellpadding="20">
            <tr>
                <td valign="top" width="50%" class="item-cell" style="border-right:#efede7 1px solid;">
                    <table class="contents" width="100%" cellpadding="0">
                        <tr>
                            <td>
                                <a href="http://www.tehnosila.ru/catalog/tehnika_dlya_kuhni/obrabotka_produktov/mjasorubki/-/98372" target="_blank"><img class="itemPicture" src="images/25.jpg" width="260"></a>
                            </td>
                        </tr>
                        <tr>
                            <td valign="bottom" class="itemPrice-cell">
                                <div class="itemPrice">
                                    <span class="newPrice">7&nbsp;999&nbsp;<span class="itemCurrency">Р.</span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="itemName-cell">
                                <div class="itemName"><a href="http://www.tehnosila.ru/catalog/tehnika_dlya_kuhni/obrabotka_produktov/mjasorubki/-/98372" target="_blank">Мясорубка Hotpoint-Ariston MM 060 DSL0</b></a></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="button-cell">
                                <table class="button" width="120">
                                    <tr>
                                        <td class="button-inner" width="120">
                                            <a class="button-link" href="http://www.tehnosila.ru/catalog/tehnika_dlya_kuhni/obrabotka_produktov/mjasorubki/-/98372" target="_blank">
                                                Купить
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
                <td valign="top" width="50%" class="item-cell" style="border-left:#efede7 1px solid;">
                    <table class="contents" width="100%" cellpadding="0">
                        <tr>
                            <td>
                                <a href="http://www.tehnosila.ru/catalog/foto_i_videokamery/fotoapparaty_cifrovye/zerkalnye/-/294252" target="_blank"><img class="itemPicture" src="images/26.jpg" width="260"></a>
                            </td>
                        </tr>
                        <tr>
                            <td valign="bottom" class="itemPrice-cell">
                                <div class="itemPrice">
                                    <span class="newPrice">32&nbsp;999&nbsp;<span class="itemCurrency">Р.</span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="itemName-cell">
                                <div class="itemName"><a href="http://www.tehnosila.ru/catalog/foto_i_videokamery/fotoapparaty_cifrovye/zerkalnye/-/294252" target="_blank">Зеркальный фотоаппарат Nikon D3300 Kit 18-55 VR AF-P black</b></a></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="button-cell">
                                <table class="button" width="120">
                                    <tr>
                                        <td class="button-inner" width="120">
                                            <a class="button-link" href="http://www.tehnosila.ru/catalog/foto_i_videokamery/fotoapparaty_cifrovye/zerkalnye/-/294252" target="_blank">
                                                Купить
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td class="goods row">
        <table class="inner" width="100%" cellpadding="20">
            <tr>
                <td valign="top" width="50%" class="item-cell" style="border-right:#efede7 1px solid;">
                    <table class="contents" width="100%" cellpadding="0">
                        <tr>
                            <td>
                                <a href="http://www.tehnosila.ru/catalog/tovary_dlya_doma/tovary_dlya_dachi_piknika/mangaly/-/321938" target="_blank"><img class="itemPicture" src="images/27.jpg" width="260"></a>
                            </td>
                        </tr>
                        <tr>
                            <td valign="bottom" class="itemPrice-cell">
                                <div class="itemPrice">
                                    <span class="newPrice">14&nbsp;900&nbsp;<span class="itemCurrency">Р.</span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="itemName-cell">
                                <div class="itemName"><a href="http://www.tehnosila.ru/catalog/tovary_dlya_doma/tovary_dlya_dachi_piknika/mangaly/-/321938" target="_blank">Гриль Weber One-Touch Original Kettle 47 см черный</b></a></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="button-cell">
                                <table class="button" width="120">
                                    <tr>
                                        <td class="button-inner" width="120">
                                            <a class="button-link" href="http://www.tehnosila.ru/catalog/tovary_dlya_doma/tovary_dlya_dachi_piknika/mangaly/-/321938" target="_blank">
                                                Купить
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
                <td valign="top" width="50%" class="item-cell" style="border-left:#efede7 1px solid;">
                    <table class="contents" width="100%" cellpadding="0">
                        <tr>
                            <td>
                                <a href="http://www.tehnosila.ru/catalog/tovary_dlja_sporta/velosipedy_i_aksessuary/velosipedy/-/331782" target="_blank"><img class="itemPicture" src="images/28.jpg" width="260"></a>
                            </td>
                        </tr>
                        <tr>
                            <td valign="bottom" class="itemPrice-cell">
                                <div class="itemPrice">
                                    <span class="oldPrice">Было: 21&nbsp;380&nbsp;<span class="itemCurrency">Р.</span></span>
                                    <span class="newPrice">20&nbsp;290&nbsp;<span class="itemCurrency">Р.</span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="itemName-cell">
                                <div class="itemName"><a href="http://www.tehnosila.ru/catalog/tovary_dlja_sporta/velosipedy_i_aksessuary/velosipedy/-/331782" target="_blank">Горный велосипед Stark Indy Lady Disc 26 (2016) 14.5" фиолетово-розовый</b></a></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="button-cell">
                                <table class="button" width="120">
                                    <tr>
                                        <td class="button-inner" width="120">
                                            <a class="button-link" href="http://www.tehnosila.ru/catalog/tovary_dlja_sporta/velosipedy_i_aksessuary/velosipedy/-/331782" target="_blank">
                                                Купить
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>