<tr>
    <td class="goods row">
        <table class="inner" width="100%" cellpadding="20">
            <tr>
                <td valign="top" width="50%" class="item-cell">
                    <table class="contents" width="100%" cellpadding="0">
                        <tr>
                            <td>
                                <a href="http://www.tehnosila.ru/catalog/tovary_dlya_doma/posuda_i_servirovka/hranenie_produktov_i_poryadok_na_kuhne/termosy_termokruzhki/-/16997" target="_blank"><img class="itemPicture" src="images/1.jpg" width="260"></a>
                            </td>
                        </tr>
                        <tr>
                            <td valign="bottom" class="itemPrice-cell">
                                <div class="itemPrice">
                                    <span class="oldPrice">Было: 990&nbsp;<span class="itemCurrency">Р.</span></span>
                                    <span class="newPrice">790&nbsp;<span class="itemCurrency">Р.</span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="itemName-cell">
                                <div class="itemName"><a href="http://www.tehnosila.ru/catalog/tovary_dlya_doma/posuda_i_servirovka/hranenie_produktov_i_poryadok_na_kuhne/termosy_termokruzhki/-/16997" target="_blank">Термос BIOSTAL NB-1000 1л 2 пробки</a></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="button-cell">
                                <table class="button" width="120">
                                    <tr>
                                        <td class="button-inner" width="120">
                                            <a class="button-link" href="http://www.tehnosila.ru/catalog/tovary_dlya_doma/posuda_i_servirovka/hranenie_produktov_i_poryadok_na_kuhne/termosy_termokruzhki/-/16997" target="_blank">
                                                Купить
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
                <td valign="top" width="50%" class="item-cell" style="outline:#efede7 1px solid;">
                    <table class="contents" width="100%" cellpadding="0">
                        <tr>
                            <td>
                                <a href="http://www.tehnosila.ru/catalog/tovary_dlya_doma/hoztovary/sushki_dlja_belja/-/386634" target="_blank"><img class="itemPicture" src="images/2.jpg" width="260"></a>
                            </td>
                        </tr>
                        <tr>
                            <td valign="bottom" class="itemPrice-cell">
                                <div class="itemPrice">
                                    <span class="oldPrice">Было: 1&nbsp;790&nbsp;<span class="itemCurrency">Р.</span></span>
                                    <span class="newPrice">1&nbsp;590&nbsp;<span class="itemCurrency">Р.</span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="itemName-cell">
                                <div class="itemName"><a href="http://www.tehnosila.ru/catalog/tovary_dlya_doma/hoztovary/sushki_dlja_belja/-/386634" target="_blank">Сушилка для белья Frau Hellen Color Lux 22 м</a></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="button-cell">
                                <table class="button" width="120">
                                    <tr>
                                        <td class="button-inner" width="120">
                                            <a class="button-link" href="http://www.tehnosila.ru/catalog/tovary_dlya_doma/hoztovary/sushki_dlja_belja/-/386634" target="_blank">
                                                Купить
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td class="goods row">
        <table class="inner" width="100%" cellpadding="20">
            <tr>
                <td valign="top" width="50%" class="item-cell">
                    <table class="contents" width="100%" cellpadding="0">
                        <tr>
                            <td>
                                <a href="http://www.tehnosila.ru/catalog/tovary_dlya_doma/hoztovary/hozyaistvennye_prinadlezhnosti/sushki_dlja_obuvi/-/1938" target="_blank"><img class="itemPicture" src="images/3.jpg" width="260"></a>
                            </td>
                        </tr>
                        <tr>
                            <td valign="bottom" class="itemPrice-cell">
                                <div class="itemPrice">
                                    <span class="oldPrice">Было: 759&nbsp;<span class="itemCurrency">Р.</span></span>
                                    <span class="newPrice">599&nbsp;<span class="itemCurrency">Р.</span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="itemName-cell">
                                <div class="itemName"><a href="http://www.tehnosila.ru/catalog/tovary_dlya_doma/hoztovary/hozyaistvennye_prinadlezhnosti/sushki_dlja_obuvi/-/1938" target="_blank">Cушилка для обуви Timson 2416 ультрафиолетовая</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="button-cell">
                                <table class="button" width="120">
                                    <tr>
                                        <td class="button-inner" width="120">
                                            <a class="button-link" href="http://www.tehnosila.ru/catalog/tovary_dlya_doma/hoztovary/hozyaistvennye_prinadlezhnosti/sushki_dlja_obuvi/-/1938" target="_blank">
                                                Купить
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
                 <td valign="top" width="50%" class="item-cell" style="outline:#efede7 1px solid;">
                    <table class="contents" width="100%" cellpadding="0">
                        <tr>
                            <td>
                                <a href="http://www.tehnosila.ru/catalog/tovary_dlya_doma/hoztovary/gladilnyi_doski/-/206112" target="_blank"><img class="itemPicture" src="images/4.jpg" width="260"></a>
                            </td>
                        </tr>
                        <tr>
                            <td valign="bottom" class="itemPrice-cell">
                                <div class="itemPrice">
                                    <span class="oldPrice">Было: 2&nbsp;490&nbsp;<span class="itemCurrency">Р.</span></span>
                                    <span class="newPrice">1&nbsp;990&nbsp;<span class="itemCurrency">Р.</span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="itemName-cell">
                                <div class="itemName"><a href="http://www.tehnosila.ru/catalog/tovary_dlya_doma/hoztovary/gladilnyi_doski/-/206112" target="_blank">Гладильная доска Ника Верона</a></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="button-cell">
                                <table class="button" width="120">
                                    <tr>
                                        <td class="button-inner" width="120">
                                            <a class="button-link" href="http://www.tehnosila.ru/catalog/tovary_dlya_doma/hoztovary/gladilnyi_doski/-/206112" target="_blank">
                                                Купить
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td class="goods row">
        <table class="inner" width="100%" cellpadding="20">
            <tr>
                <td valign="top" width="50%" class="item-cell">
                    <table class="contents" width="100%" cellpadding="0">
                        <tr>
                            <td>
                                <a href="http://www.tehnosila.ru/catalog/tovary_dlya_doma/posuda_i_servirovka/posuda_dlya_prigotovleniya/nabory_dlya_gotovki/-/52579" target="_blank"><img class="itemPicture" src="images/5.jpg" width="260"></a>
                            </td>
                        </tr>
                        <tr>
                            <td valign="bottom" class="itemPrice-cell">
                                <div class="itemPrice">
                                    <span class="oldPrice">Было: 8&nbsp;490&nbsp;<span class="itemCurrency">Р.</span></span>
                                    <span class="newPrice">6&nbsp;990&nbsp;<span class="itemCurrency">Р.</span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="itemName-cell">
                                <div class="itemName"><a href="http://www.tehnosila.ru/catalog/tovary_dlya_doma/posuda_i_servirovka/posuda_dlya_prigotovleniya/nabory_dlya_gotovki/-/52579" target="_blank">Набор посуды TalleR Шелборн TR 1047</a></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="button-cell">
                                <table class="button" width="120">
                                    <tr>
                                        <td class="button-inner" width="120">
                                            <a class="button-link" href="http://www.tehnosila.ru/catalog/tovary_dlya_doma/posuda_i_servirovka/posuda_dlya_prigotovleniya/nabory_dlya_gotovki/-/52579" target="_blank">
                                                Купить
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
                <td valign="top" width="50%" class="item-cell" style="outline:#efede7 1px solid;">
                    <table class="contents" width="100%" cellpadding="0">
                        <tr>
                            <td>
                                <a href="http://www.tehnosila.ru/catalog/tovary_dlya_doma/hoztovary/sumki_telezhki/-/148667" target="_blank"><img class="itemPicture" src="images/6.jpg" width="260"></a>
                            </td>
                        </tr>
                        <tr>
                            <td valign="bottom" class="itemPrice-cell">
                                <div class="itemPrice">
                                    <span class="oldPrice">Было: 1&nbsp;590&nbsp;<span class="itemCurrency">Р.</span></span>
                                    <span class="newPrice">1&nbsp;390&nbsp;<span class="itemCurrency">Р.</span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="itemName-cell">
                                <div class="itemName"><a href="http://www.tehnosila.ru/catalog/tovary_dlya_doma/hoztovary/sumki_telezhki/-/148667" target="_blank">Сумка-тележка Gimi FLEXI</a></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="button-cell">
                                <table class="button" width="120">
                                    <tr>
                                        <td class="button-inner" width="120">
                                            <a class="button-link" href="http://www.tehnosila.ru/catalog/tovary_dlya_doma/hoztovary/sumki_telezhki/-/148667" target="_blank">
                                                Купить
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>