@@include("includes/start.html")
@@include("includes/header.html")
@@include("includes/padding.html")
<tr>
    <td class="cover">
        <a href="http://www.tehnosila.ru/action/supertroyka" target="_blank">
            <img src="images/cover1.jpg" width="600">
        </a>
    </td>
</tr>
<tr>
    <td>
        <div class="best best_supertroyka">Хиты продаж</div>
    </td>
</tr>
@@include("includes/recoms.html")
<tr>
    <td>
        <a class="best best_supertroyka best_all-products" href="http://www.tehnosila.ru/action/supertroyka/catalog" target="_blank">Смотреть все товары по акции ></a>
    </td>
</tr>
@@include("includes/padding.html")
<tr>
    <td class="cover">
        <a href="http://www.tehnosila.ru/action/rondell_gift" target="_blank">
            <img src="images/cover2.jpg" width="600">
        </a>
    </td>
</tr>
<tr>
    <td class="button-inner" width="120">
        <a class="button-link button-link-banner" href="http://www.tehnosila.ru/action/rondell_gift" target="_blank">
            Подробнее о розыгрыше
        </a>
    </td>
</tr>
@@include("includes/padding.html")
<tr>
    <td>
        <table class="contents" cellpadding="0" style="margin: 20px 25px 20px">
            <tr>
                <td valign="bottom" class="h1">
                    Лучшие предложения от&nbsp;Samsung
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td class="cover">
        <a href="http://www.tehnosila.ru/action/samsung_vc_anti_tangle" target="_blank">
            <img src="images/cover3.jpg" width="600">
        </a>
    </td>
</tr>
@@include("includes/padding.html")
<tr>
    <td class="cover">
        <a href="http://www.tehnosila.ru/action/addwash" target="_blank">
            <img src="images/cover4.jpg" width="600">
        </a>
    </td>
</tr>
@@include("includes/padding.html")
<tr>
    <td class="cover">
        <a href="http://www.tehnosila.ru/action/481" target="_blank">
            <img src="images/cover5.jpg" width="600">
        </a>
    </td>
</tr>
@@include("includes/padding.html")
@@include("includes/features.html")
@@include("includes/footer.html")
@@include("includes/end.html")