body {
    background-color: #efede7;
}

.body {
    background-color: #efede7;
    text-align: center;
    table-layout: fixed;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

a {
    color: #1c1c1c !important;
    text-decoration: underline;
}

a span {
    color: #2799d0;
}

a[href^=tel] {
    color: #1c1c1c !important;
    text-decoration: none;
}

a img {
    border: 0;
}

div, p, td {
    -webkit-font-smoothing: subpixel-antialiased;
}

table {
    border-collapse: collapse;
}

.h1 {
    font-family: 'Helvetica', 'Arial';
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    color: #1c1c1c;
    text-align: left;
    line-height: 30px;
    margin: 0 0 15px;
}

.paragraph, p {
    font-family: 'Helvetica', 'Arial';
    font-size: 16px;
    color: #1c1c1c;
    text-align: left;
    line-height: 20px;
    margin: 0 0 15px;
}

.paragraph_padding {
    padding-bottom: 20px;
}

.cover {
    padding: 0 0 0 0;
}

.cover img {
    width: 100%;
    height: auto;
    max-width: 600px;
    height: auto;
    display: block;
}

/* Buttons */

.button {
    max-width: 260px;
}

.button .button-inner {
    padding:0;
    background-color: #ffd700;
    text-align: center;
}

.button-link {
    font-family: 'Helvetica', 'Arial';
    font-size: 15px;
    text-transform: uppercase;
    line-height:1em;
    color:#1c1c1c !important;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    background-color: #ffd700;
    border:#ffd700 20px solid;
    padding:0 10px;
    display: block;
}

.button-link-banner
{
    background-color: #bd1548;
    border: #bd1548 20px solid;
    font-size: 16px;
    color: #fff !important;
}

.outer {
    margin: 0 auto;
    max-width: 600px;
    width:100%;
    background-color: #ffffff;
}

.link {
    color: #00699c!important;
    text-decoration: none;
}

.ps {
    padding-top: 35px;
}
.nobr {
    white-space: pre;
}